<nav class="navbar bg-body-tertiary">
    <h6>CRUD - REFUERZO</h6>
    <form>
        <div class="div">
            <button class="btn btn-outline-light me-2" routerLink="/listar-producto" type="button">VER
                PRODUCTOS</button>
            <button class="btn btn-outline-light me-2" routerLink="/crear-producto" type="button">CREAR
                PRODUCTO</button>
        </div>
    </form>
</nav>

<div class="cards">
    <div class="section">
        <div class="target">
            <h5 class="card-title mb-3">TABLA DE PRODUCTOS</h5>
            <p class="card-text">A continuación, podrás ver la lista de poductos, podrás editar y eliminar si gustas, si deseas ver los productos dale click al siguiente botón:</p>
            <button class="btn btn-outline-primary" routerLink="/listar-producto">VER PRODUCTOS</button>
        </div>
    </div>

    <div class="section">
        <div class="target">
            <h5 class="card-title mb-3">CREAR UN PRODUCTO</h5>
            <p class="card-text">A continuación, podrás crear un poducto nuevo y verlo en la tabla de productos creados,
                si deseas crear un nuevo producto, dale click al siguiente botón:</p>
            <button class="btn btn-outline-primary" routerLink="/crear-producto">NUEVO PRODUCTO</button>
        </div>
    </div>
</div>

<footer>
    <div class="footer-2">
        <div class="bajo2">
            <h6>CONTÁCTAME</h6>
            <a href="https://wa.link/l47t5n"><i class="fa-brands fa-whatsapp"> WhatsApp - 3147709706</i></a>
            <a href="https://www.facebook.com/Samuel.Carvajal13"><i class="fa-brands fa-facebook"> Facebook - Samuel Carvajal</i></a>
            <a href="https://www.instagram.com/samuelc.b13/"><i class="fa-brands fa-instagram"> Instagram - SamuelC.B13</i></a>
            <a href="#"><i class="fa-regular fa-envelope"> Gmail - Casato311409</i></a>
        </div>
    </div>
    <div class="bajo3">
        <p>&copy; Todos los derechos son reservados</p>
    </div>
</footer>

<script src="https://kit.fontawesome.com/ff84d708ba.js" crossorigin="anonymous"></script>